{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block content %}
    <div class="box">
        <div class="card border-dark mb-2 product-card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{product.image}}" class="img-fluid rounded-start" alt="Product Photo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        {% for category in categories %}
                            {% if category.id == product.category_id %}
                                <a href="{% url 'category_detail' category.id %}" class="category">{{ category.title }}</a>
                            {% endif %}
                        {% endfor %}
                        <h5 class="card-title">Price: {{ product.price }}$</h5>
                        <p>{{ product.description }}</p>
                        <div class="card_small_text">added: {{ product.created_at }}</div>
                        <br>
                        <div class="group_buttons">
                            <a class="btn btn-dark" href="{% url 'product_edit' product.id %}" role="button">Edit</a>
                            <a class="btn btn-dark" href="{% url 'product_delete' product.id %}" role="button">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

