{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="box">
        {% for product in products %}
            <div class="online-store">
                <div class="card border-dark" style="text-align: center">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img class="picture" src="{{product.image}}" alt="Card image cap">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title">{{ product.title }}</h4>
                                {% for category in categories %}
                                    {% if category.id == product.category_id %}
                                        <a href="{% url 'category_detail' category.id %}" class="category">{{ category.title }}</a>
                                    {% endif %}
                                {% endfor %}
                                <p class="price">Price: {{ product.price }}$</p>
                                <a href="{% url 'product_detail' product.id %}" class="link">See more >>></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
